@import "../../app.scss";

.navbar {
  @include themify($themes) {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    padding: 10px 20px;
    height: 70px;
    border-bottom: 1px solid themed("border");
    position: sticky;
    top: 0;
    background-color: themed("bg");
    color: themed("textColor");
    z-index: 1;

    @media (max-width: 450px) {
      padding-left: 10px;
      padding-right: 10px;
    }
    @media (max-width: 350px) {
      gap: 10px;
    }
    svg {
      cursor: pointer;
    }

    .left {
      display: flex;
      align-items: center;
      gap: 25px;
      flex: 1;
      min-width: 200px;

      .burger{
        display: none;
        flex-direction: column;
        justify-content: flex-end;

        @media(max-width:768px) {
          display: flex;
        }
      }

      .mobile-search {
        display: none;
      }
      .search-drop {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid themed("border");
        border-radius: 5px;
        padding: 5px;

         &:focus-within {
          border: 1px solid themed("textColorSoft");
        }
      }

      @media (max-width: 550px) {
        flex-grow: 0;
        .mobile-search {
          display: block;
        }
      }
      @media (max-width: 450px) {
        gap: 20px;
      }
      @media (max-width: 360px) {
        gap: 10px;
      }
      span {
        font-weight: 700;
        font-size: 20px;
        color: themed("logo");
      }

      .search {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid themed("border");
        border-radius: 5px;
        padding: 5px;
        width: 400px;
        @media (max-width: 970px) {
          width: 100%;
        }
        @media (max-width: 550px) {
          display: none;
        }

        &:focus-within {
          border: 1px solid themed("textColorSoft");
        }
      }

      input {
        width: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        color: themed("textColor");
      }
    }
    .right {
      display: flex;
      align-items: center;
      gap: 20px;

      @media (max-width: 768px) {
        svg {
          display: none;
        }
      }

      .user {
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: 500;
        position: relative;

        .mobile-menu {
          display: none;
          position: absolute;
          right: -20px;
          top: 52px;
          background-color: themed("bg");
          padding: 20px;
          border: 0.5px solid lightgray;
          border-top: none;
          .mobile-menu__item {
            display: flex;
            gap: 20px;
          }
        }
        @media (max-width: 768px) {
          .mobile-menu {
            display: block;
          }
        }

        @media (max-width: 768px) {
          svg {
            display: block;
          }
        }
        @media (max-width: 450px) {
          & > span {
            display: none;
          }
        }

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
        span {
        }
      }
    }
  }
}
